//Javascript + JSX
var greet = <h1>Hey!</h1>;
var root = document.getElementById('root');
ReactDOM.render(greet, root);

//ES6 + JSX
const greet = <h1>Hey!</h1>;
const root = document.getElementById('root');
ReactDOM.render(greet, root);

//Output to Plain Old Javascript
'use strict';
var greet = React.createElement('h1', null, 'Hey!');
var root = document.getElementById('root');
ReactDOM.render(greet, root);